header {
  display: flex;
  margin-top: 36px;
  height: 64px;
  justify-content: flex-end;
}

header #title {
  color: black;
  text-decoration: none;
  margin: 0px;
  width: 100%;
  font-size: 48px;
}

.header-btn {
  text-decoration: none;
  font-size: 16px;
  margin-left: 5px;
  margin-right: 5px;
}

#error-box {
  color: red;
  visibility: hidden;
}

#error-box::before {
  content: "Error: ";
}

.btn {
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #3c3d3f;
  background: #ffffff;
  border: 2px solid black;
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  background: #3c3d3f;
  color: #ffffff;
  cursor: pointer;
}
