<header>
  <!-- note here for internal routing, I use routerLink instead of href -->
  <!-- this affects <router-outlet> as defined in app.component.ts -->
  <!-- you can modify internal routing in app-routing.module.ts -->
  <a routerLink="/" id="title">Nanoblog</a>
  <a routerLink="/sign-in" id="signin-button" class="btn header-btn hidden"
    >Sign in or Sign up</a
  >
  <a (click)="signOut()" id="signout-button" class="btn header-btn hidden"
    >Sign out</a
  >
</header>
<p id="error-box"></p>
