h2 {
  margin: 0;
  font-size: 16px;
}

ul {
  margin: 0;
  padding: 0 0 0 1.5em;
}

li {
  margin: 1.5em 0;
  padding: 0;
}

b {
  /* used for event dates/times */
  margin-right: 3px;
}

.fc {
  /* the calendar root */
  max-width: 1100px;
  margin: 0 auto;
}

.external-events {
  padding: 10px;
  width: 150px;
  border: 1px solid #ccc;
  background: #eee;
  text-align: left;
}

.fc-event {
  padding: 5px;
  background: #3a87ad;
  color: white;
  cursor: pointer;
}

.calendar-container {
  padding: 20px;
}

.fc .fc-col-header-cell-cushion {
  /* needs to be same precedence */
  padding-top: 5px; /* an override! */
  padding-bottom: 5px; /* an override! */
}

.fc .fc-button {
  border-radius: 10px;
  text-align: center;
  font-size: 14px;
  background: white;
  color: black;
  border: 1px solid black;
  padding: 10px 20px 10px 20px;
}

.event-template {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* Additional styling for the tooltip */
  position: relative;
  cursor: default;
}

.valid-range {
  background-color: rgb(189, 244, 189) !important;
}
