.search-recommendation{
  width: 100%;
  border: solid grey 1px;
  padding: 10px;
  min-height: 50%;
  border-radius: 10px;
}
.itinerary-container{
  padding: 40px;
}

.fc-event {
  margin: 10px 0;
  padding: 5px;
  background: #3a87ad;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}