<app-nav-bar></app-nav-bar>
<div class="itinerary-container row">
  <div class="col-3" id="external-events">
    <button
      *ngIf="!isCollaboratorsFormVisible"
      mat-button
      class="add-users"
      aria-label="Example icon-button with heart icon"
      (click)="handleOpenCollaboratorsForm(true)"
      [hidden]="!isOwner"
      >
      Add Collaborators
    </button>
    <div class="search-recommendation" *ngIf="user && user.tier === 2">
      <app-place-autocomplete
        (placeChanged)="handlePlaceChanged($event)"
      ></app-place-autocomplete>
      <div class="add-item"></div>
    </div>
    <div class="upgrade-msg" *ngIf="user && user.tier === 1">
      Upgrade to Travel Master to unlock Google places recommendations.
    </div>
  </div>
  <div class="col-1"></div>
  <app-calendar
    *ngIf="initialItinerary"
    class="col-8"
    [initialItinerary]="initialItinerary"
    [itineraryId]="itineraryId"
    (calendarEventArg)="handleCalendarEvent($event)"
    (calendarEventClickArg)="handleCalendarEventClick($event)"
    (openCustomEventForm)="handleOpenCustomEventForm($event)"
    (openEventPreviewForm)="handleOpenEventPreviewForm($event)"
  ></app-calendar>
  <app-custom-event-form
    *ngIf="isCustomEventFormVisible"
    (openCustomEventForm)="handleExitCustomEventForm($event)"
    [calendarEventArg]="calendarEventArgs"
    [itineraryId]="itineraryId"
  ></app-custom-event-form>
  <app-event-preview-form
    *ngIf="isEventPreviewVisible"
    (openEventPreview)="handleExitEventPreviewForm($event)"
    [calendarEventClickArgs]="calendarEventClickArgs"
    [itineraryId]="itineraryId"
  ></app-event-preview-form>

  <!-- Collaborators Form -->
  <app-add-collaborators
    *ngIf="isCollaboratorsFormVisible"
    (openCollaboratorForm)="handleExitCollaboratorsForm($event)"
    [itineraryId]="itineraryId"
  ></app-add-collaborators>
</div>
