<app-nav-bar></app-nav-bar>
<div class="itinerary-container row">
  <div class="col-2" id="external-events">
    <div class="add-item">
      <app-place-autocomplete
        (placeChanged)="handlePlaceChanged($event)"
      ></app-place-autocomplete>
    </div>
  </div>
  <app-calendar
    *ngIf="initialItinerary"
    class="col-10"
    [initialItinerary]="initialItinerary"
    (calendarEventArg)="handleCalendarEvent($event)"
    (openCustomEventForm)="handleOpenCustomEventForm($event)"
  ></app-calendar>
  <app-custom-event-form
    *ngIf="isCustomEventFormVisible"
    (openCustomEventForm)="handleExitCustomEventForm($event)"
    [calendarEventArg]="calendarEventArgs"
    [itineraryId]="itineraryId"
  ></app-custom-event-form>
</div>
