.collaborators-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.collaborators-form {
  position: relative;
  padding: 70px;
  border-radius: 10px;
  width: 50%
}

.collaborators-form .collaborators-title {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.collaborators-form .collaborators-subtitle {
  font-size: 18px;
  margin-bottom: 30px;
}

.collaborators-form .mat-card-content {
  display: flex;
  flex-direction: column;
}

.exit-btn {
  position: absolute;
  right: 20px;
  top: 20px;
}

.btn-icon {
  position: absolute;
  left: 10px;
}

.collaborators-form .signin-btn {
  margin: 10px 0;
  width: 100%;
  border-radius: 10px;
}

.collaborators-form .email-login-btn {
  text-align: center;
}

.collaborators-select {
  width: 100%;
}

.selected-users-list {
  margin-top: 20px;
}

.selected-users-list h3 {
  margin-bottom: 10px;
}

.selected-users-list ul {
  list-style: none;
  padding: 0;
}

.selected-users-list li {
  background: #f0f0f0;
  padding: 10px;
  margin-bottom: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-user-icon {
  cursor: pointer;
  color: red;
}
