<div class="collaborators-container">
  <mat-card class="collaborators-form" appearance="outlined">
    <mat-icon class="exit-btn" (click)="onExitCollaboratorsForm()"
      >close</mat-icon
    >
    <div class="collaborators-title">Add Collaborators</div>
    <div class="collaborators-subtitle">
      Select users to add as collaborators
    </div>
    <mat-card-content>
      <mat-form-field class="collaborators-select">
        <input
          type="text"
          placeholder="Search User"
          aria-label="Search User"
          matInput
          [formControl]="userSearchControl"
          [matAutocomplete]="auto"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onUserSelected($event)">
          <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
            {{user.username}} ({{user.profile.email}})
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div *ngIf="selectedUsers.length > 0" class="selected-users-list">
        <h3>Added Users</h3>
        <ul>
          <li *ngFor="let user of selectedUsers">
            {{ user.username }} ({{user.profile.email}})
            <mat-icon class="remove-user-icon" (click)="removeUser(user)"
              >close</mat-icon
            >
          </li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
</div>
