<div class="login-container">
  <mat-card class="login-form" appearance="outlined">
    <mat-icon class="exit-btn" (click)="onExitLogin()">close</mat-icon>
    <div class="login-title">Login</div>
    <div class="login-subtitle">Please sign up or login with your details</div>
    <mat-card-content>
      <button (click)="onGoogleLogin()" mat-raised-button class="signin-btn">
        <fa-icon [icon]="faGoogle" class=""></fa-icon> Continue with Google  
      </button>
      <div class="signin-btn email-login-btn">Login with email</div>
    </mat-card-content>
  </mat-card>
</div>
