<div *ngIf="isLoggedIn()">
  <div class="container">Hi and welcome!</div>
  <div class="container">Name: {{ userInfo?.info?.name }}</div>
  <div class="container"><img src="{{ userInfo?.info?.picture }}" /></div>
  <!-- <div class="container">
    <button (click)="getEmails()">List Emails</button>
  </div> -->
  <!-- <div class="container" *ngFor="let snippet of mailSnippets">
    {{ snippet }}
  </div> -->
  <div class="container">
    <button (click)="logout()">Logout from Google</button>
  </div>
</div>

<form class="complex-form" (submit)="signIn()" [formGroup]="signInForm">
  <div class="form-title">Sign In</div>
  <input
    type="text"
    name="username"
    class="form-element"
    placeholder="Your username"
    formControlName="username"
    required
  />
  <input
    type="password"
    name="password"
    class="form-element"
    placeholder="Your password"
    formControlName="password"
    required
  />
  <div>
    <button id="signin" name="action" class="btn">Sign in</button>
  </div>
</form>
<form class="complex-form" (submit)="signUp()" [formGroup]="signUpForm">
  <div class="form-title">Sign Up</div>
  <input
    type="text"
    name="username"
    class="form-element"
    placeholder="Enter a username"
    formControlName="username"
    required
  />
  <input
    type="password"
    name="password"
    class="form-element"
    placeholder="Enter a password"
    formControlName="password"
    required
  />
  <div>
    <button id="signup" name="action" class="btn">Sign up</button>
  </div>
</form>
