<app-nav-bar></app-nav-bar>
<div class="trip-view-container">
  <div class="header">
    <div class="title">Upcoming trips</div>
    <div>
      <mat-icon
        *ngIf="
          user &&
          ((user.tier === 1 && itineraries.length < 3) || user.tier === 2)
        "
        class="icon-display"
        fontIcon="add"
        (click)="navigateAddItinerary()"
      ></mat-icon>
    </div>
  </div>
  <div
    class="limit-msg"
    *ngIf="user && user.tier === 1 && itineraries.length === 3"
  >
    You have reached your 3 itinerary limit. Upgrade to Travel Master to unlock
    more!
  </div>

  <mat-form-field class="form-field col-2">
    <mat-label class="trip-search-label">Search for a trip</mat-label>
    <input
      class="trip-search-input"
      matInput
      type="text"
      [(ngModel)]="searchKeyword"
      (ngModelChange)="onSearchKeywordChange()"
    />
  </mat-form-field>

  <div class="row">
    <app-trip-preview
      class="col-3"
      *ngFor="let itinerary of filteredItineraries"
      [itinerary]="itinerary"
      (itineraryDeleted)="removeItinerary($event)"
    >
    </app-trip-preview>
  </div>
</div>
