<div class="trip-view-container">
  <div class="header row">
    <div class="title ">Upcoming trips</div>
    <div class="col-1">
      <mat-icon class="icon-display" fontIcon="add" (click)="navigateAddItinerary()"></mat-icon>
    </div>
  </div>
  <mat-form-field class="form-field col-2">
    <mat-label class="trip-search-label">Search for a trip</mat-label>
    <input
      class="trip-search-input"
      matInput
      type="text"
      [(ngModel)]="value"
    />
  </mat-form-field>

  <div class="row">
    <app-trip-preview class="col-3" *ngFor="let itinerary of itineraries"
      [itinerary]="itinerary"
    >
    </app-trip-preview>
  </div>  
</div>