<mat-toolbar>
  <div class="nav-title">
    <fa-icon [icon]="faLocationDot" class="btn-icon"></fa-icon>
    <span> PlanPal</span>
  </div>
  <div class="small-spacer"></div>

  <button *ngIf="isAuth" mat-button (click)="goToTrips()" aria-label="My Trips">
    MyTrips
  </button>
  <div class="spacer"></div>
  <button
    *ngIf="tier === 2 && isAuth"
    mat-button
    class="nav-btn"
    aria-label="Updgrade"
    (click)="onOpenUpgrade()"
  >
    Upgrade
  </button>
  <button
    *ngIf="!isAuth"
    mat-button
    class="nav-btn"
    aria-label="Sign In"
    (click)="onOpenLogin()"
  >
    Sign In
  </button>
  <button
    *ngIf="isAuth"
    mat-button
    class="nav-btn"
    aria-label="Sign Out"
    (click)="onSignOut()"
  >
    Sign Out
  </button>
</mat-toolbar>
