<mat-toolbar>
  <div class="title">
    <fa-icon [icon]="faLocationDot" class="btn-icon"></fa-icon>
    <span> PlanPal</span>
  </div>

  <div class="spacer"></div>
  <button
    *ngIf="!isAuth"
    mat-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
    (click)="onOpenLogin()"
  >
    Sign In
  </button>
  <button
    *ngIf="isAuth"
    mat-button
    class="example-icon"
    aria-label="Example icon-button with share icon"
  >
    Sign Out
  </button>
</mat-toolbar>
