.mat-toolbar{
  height: 80px;
  border-radius: 0 0 10px 10px;
  padding: 10px 20px 20px 20px;
}

.title{
  font-size: 30px;
  margin-left: 20px;
}

.mat-form-field .trip-search-label {
  font-size: 16px;
}

/* Adjusting font size for the input field */
.mat-form-field .trip-search-input {
  font-size: 16px;
}

.mat-button{
  font-size: 16px;
  margin: 20px;
}