<mat-card
  class="trip-preview-card"
  appearance="outlined"
  (click)="navigateToItineraryDetails(itinerary.id)"
>
  <img
    mat-card-image
    class="fixed-height-image"
    [src]="itinerary.location.imageUrl"
    alt="Photo of the trip location"
  />
  <mat-card-header>
    <div
      mat-card-avatar
      class="creator-pfp"
      [ngStyle]="{
        'background-image': 'url(' + itinerary.profile.picture + ')',
      }"
    ></div>
    <mat-card-title>{{ itinerary.title }}</mat-card-title>

    <mat-card-subtitle class="location-subtitle">
      <ng-container
        *ngIf="itinerary.location.address.length > 30; else fullLocation"
      >
        {{ itinerary.location.address.slice(1, 30) + "..." }}
      </ng-container>
      <ng-template #fullLocation>
        {{ itinerary.location.address }}
      </ng-template>
    </mat-card-subtitle>

    <mat-card-subtitle>
      {{ itinerary.startDate }} - {{ itinerary.endDate }}
    </mat-card-subtitle>
  </mat-card-header>

  <!-- Conditionally apply *ngFor and *ngIf based on itinerary.members length -->
  <div class="colab-user-container" *ngIf="itinerary.members?.length > 1">
    <div *ngFor="let member of itinerary.members.slice(1, 4); let i = index">
      <div
        class="colab-users-pfp"
        [ngStyle]="{
          'background-image': 'url(' + member?.profile?.picture + ')',
        }"
      ></div>
    </div>
    <div class="extra-members-text" *ngIf="itinerary.members.length > 4">
      +{{ itinerary.members.length - 4 }} more
    </div>
  </div>
  <div class="no-colab-text" *ngIf="itinerary.members?.length <= 1">
    Add friends to itinerary!
  </div>
</mat-card>
