<mat-card class="trip-preview-card" appearance="outlined" (click)="navigateToItineraryDetails(itinerary.id)">
  <img
    mat-card-image
    src="https://i.natgeofe.com/k/5b396b5e-59e7-43a6-9448-708125549aa1/new-york-statue-of-liberty.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-header>
    <div mat-card-avatar class="creator-pfp"
      [ngStyle]="{'background-image': 'url(' + itinerary.profile.picture + ')'}">
    </div>
    <mat-card-title>{{ itinerary.title }}</mat-card-title>
    <mat-card-subtitle>{{ itinerary.location }}</mat-card-subtitle>
    <mat-card-subtitle>{{ itinerary.startDate }} - {{ itinerary.endDate }}</mat-card-subtitle>
  </mat-card-header>
  
  <!-- Conditionally apply *ngFor and *ngIf based on itinerary.members length -->
  <ng-container *ngIf="itinerary.members?.length > 1">
    <div class="row" *ngFor="let member of itinerary.members.slice(1, 4); let i = index">
      <div mat-card-avatar class="colab-users-pfp"
        [ngStyle]="{'background-image': 'url(' + member?.profile?.picture + ')'}">
      </div>
    </div>
    <div class="row" *ngIf="itinerary.members.length > 4">
      <div class="extra-members-text">+ {{ itinerary.members.length - 4 }} more</div>
    </div>
  </ng-container>
</mat-card>
