<div class="credits-container">
  <header>
    <a href="/credits.html" id="title" class="title">PlanPal Credits</a>
  </header>
  <h2>Icons Credits</h2>
  <ul>
    <li>
      Icons were taken from
      <a
        href="https://fontawesome.com/search?q=check&o=r"
        title="fontawesome"
        target="_blank"
        >www.fontawesome.com</a
      >
    </li>
  </ul>
  <h2>External Packages Used For This Project</h2>
  <ul>
    <li>
      <a href="hhttps://angular.dev/">Angular 18</a>
    </li>
    <li>
      <a href="https://fullcalendar.io/">FullCalendar</a>
    </li>
    <li>
      <a href="https://stripe.com/en-ca">Stripe</a>
    </li>
  </ul>
  <h2>HTML, CSS and Javascript code Credits</h2>
  <ul>
    <li>
      Some parts of HTML, CSS and Javascript code were snippets of code from
      <a href="http://stackoverflow.com/">Stackoverflow</a>
    </li>
    <li>
      Some parts of HTML, CSS and Javascript code were inspired through AI tools
      such as
      <a href="https://github.com/features/copilot">Github Copilot</a> and
      <a href="https://chatgpt.com/">ChatGPT</a>
    </li>
  </ul>
  <h2>UI Inspiration Credits</h2>
  <ul>
    <li>
      UI inspiration mostly came from
      <a href="https://www.airbnb.ca/">Airbnb</a>
    </li>
  </ul>
</div>
