@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://use.fontawesome.com/releases/v5.15.4/css/all.css");
/* You can add global styles to this file, and also import other style files */
html {
  overflow: -moz-scrollbars-vertical;
}

body {
  background: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #3c3d3f;
  text-align: left;
  margin: auto;
}

::after,
::before {
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
  box-sizing: border-box;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.page-container-padding {
  padding: 70px 0;
}

.title {
  font-size: 40px;
  font-weight: bold;
}

.subtitle {
  font-size: 24px;
}

.content {
  font-size: 20px;
}

.subtitle {
}

/* 12 grid bootstrap layout */
.col-1 {
  flex: 0 0 calc(1 / 12 * 100%);
  max-width: calc(1 / 12 * 100%);
}
.col-2 {
  flex: 0 0 calc(2 / 12 * 100%);
  max-width: calc(2 / 12 * 100%);
}
.col-3 {
  flex: 0 0 calc(3 / 12 * 100%);
  max-width: calc(3 / 12 * 100%);
}
.col-4 {
  flex: 0 0 calc(4 / 12 * 100%);
  max-width: calc(4 / 12 * 100%);
}
.col-5 {
  flex: 0 0 calc(5 / 12 * 100%);
  max-width: calc(5 / 12 * 100%);
}
.col-6 {
  flex: 0 0 calc(6 / 12 * 100%);
  max-width: calc(6 / 12 * 100%);
}
.col-7 {
  flex: 0 0 calc(7 / 12 * 100%);
  max-width: calc(7 / 12 * 100%);
}
.col-8 {
  flex: 0 0 calc(8 / 12 * 100%);
  max-width: calc(8 / 12 * 100%);
}
.col-9 {
  flex: 0 0 calc(9 / 12 * 100%);
  max-width: calc(9 / 12 * 100%);
}
.col-10 {
  flex: 0 0 calc(10 / 12 * 100%);
  max-width: calc(10 / 12 * 100%);
}
.col-11 {
  flex: 0 0 calc(11 / 12 * 100%);
  max-width: calc(11 / 12 * 100%);
}
.col-12 {
  flex: 0 0 calc(12 / 12 * 100%);
  max-width: calc(12 / 12 * 100%);
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

/* for mobile */
@media (max-width: 576px) {
  .col-sm-1 {
    flex-basis: calc(1 / 12 * 100%);
  }
  .col-sm-2 {
    flex-basis: calc(2 / 12 * 100%);
  }
  .col-sm-3 {
    flex-basis: calc(3 / 12 * 100%);
  }
  .col-sm-4 {
    flex-basis: calc(4 / 12 * 100%);
  }
  .col-sm-5 {
    flex-basis: calc(5 / 12 * 100%);
  }
  .col-sm-6 {
    flex-basis: calc(6 / 12 * 100%);
  }
  .col-sm-7 {
    flex-basis: calc(7 / 12 * 100%);
  }
  .col-sm-8 {
    flex-basis: calc(8 / 12 * 100%);
  }
  .col-sm-9 {
    flex-basis: calc(9 / 12 * 100%);
  }
  .col-sm-10 {
    flex-basis: calc(10 / 12 * 100%);
  }
  .col-sm-11 {
    flex-basis: calc(11 / 12 * 100%);
  }
  .col-sm-12 {
    flex-basis: calc(12 / 12 * 100%);
  }
  .col-sm-auto {
    flex: 1;
  }
}

.align-items-center {
  align-items: center;
}

.complex-form {
  margin-top: 20px;
  border-radius: 10px;
  border: 2px #3c3d3f solid;
  padding: 20px 10px 10px 10px;
  display: flex;
  flex-direction: column;
}

.complex-form .form-title {
  font-size: 20px;
  font-weight: bold;
  margin: -20px -10px 20px -10px;
  padding: 10px 0px 10px 25px;
  color: white;
  background-color: #3c3d3f;
  border-radius: 7px 7px 0px 0px;
}

.complex-form .form-radio {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.complex-form .form-element {
  margin-bottom: 10px;
  font-size: 20px;
  border-radius: 10px;
  padding: 5px 10px 5px 10px;
  border: 2px solid black;
}

.btn {
  border-radius: 10px;
  text-align: center;
  font-size: 20px;
  color: #3c3d3f;
  background: #ffffff;
  border: 2px solid black;
  padding: 10px 20px 10px 20px;
}

.btn:hover {
  background: #3c3d3f;
  color: #ffffff;
  cursor: pointer;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
