<div class="landing-page-container page-container-padding row">
  <div class="col-2"></div>
  <div class="content col-8">
    <div class="title landing-title">Welcome to PlanPal</div>
    <mat-card class="details-card" appearance="outlined">
      <img
        mat-card-image
        src="https://i.natgeofe.com/k/5b396b5e-59e7-43a6-9448-708125549aa1/new-york-statue-of-liberty.jpg"
        alt="Photo of New York City"
      />
      <mat-card-header>
        <mat-card-title>A multiplayer planing website</mat-card-title>
      </mat-card-header>
    </mat-card>
  </div>

  <div class="col-2"></div>
</div>
