.error-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.error-content{
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title{
  margin-bottom: 30px;
}

.subtitle{
  margin-bottom: 30px;
}

